body {
  background-image: url('https://cdn.pixabay.com/photo/2020/05/26/13/49/wallpaper-5223170_1280.png');
  background-repeat: repeat;
  background-size: 100%;
}

div {
  background-color: rgba(255, 255, 255, 0.45)   /* 35% opaque white */;
  padding: 0.25em;
}